@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@font-face
{
	font-family: 'JetBrains Mono';
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.eot') format('embedded-opentype'),
	url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
	url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff') format('woff'),
	url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root, body, html, code, button, datalist, input
{
	-webkit-font-feature-settings: "liga" on, "calt" on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'JetBrains Mono', "Roboto", "Helvetica", "Arial", sans-serif;
}

:root, body, html
{
	height: 100%;
}
